
@{
    ViewData["Title"] = "Lorem Clinic";
}
	<section class="hero-banner" id="home-section">
	     <div class="container">
		     <div class="row">
			      <div class="col-md-12">
				      <div class="banner-text-wrap">
					       <h1 class="text-white">We Provide Best Medical Services</h1>
						  <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
						  <a asp-controller="Appointments" asp-action="Create"  class="btn btn-white">Book Appointment</a>
					  </div>
				 </div>
			 </div>
		</div>
	</section>
<!--End Hero Banner	-->
	
	
<!--Start Features Section	-->
	<section class="features-section">
	      <div class="container">
		     <div class="row gx-0">
			      
				 <div class="col-md-4">
				      <div class="features-box bg1">
					      <img src="images/calendar.png" alt="">
						  <h3>24 Hours Services</h3>
						  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
					 </div>
				 </div>
				 
				 
				  <div class="col-md-4">
				      <div class="features-box bg2">
					      <img style="" src="images/staff.png" alt="">
						  <h3>Professional Staff</h3>
						  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
					 </div>
				 </div>
				 
				   <div class="col-md-4">
				      <div class="features-box bg3">
					      <img src="images/ambulance.png" alt="">
						  <h3>Emergency Care</h3>
						  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
					 </div>
				 </div>
				 
				 
			  </div>
		</div>
	</section>
<!--End Features Section	-->
	
	

<!--	Start About Section-->
	<section class="about-section"  id="about-section">
	      <div class="container">
		      <div class="row gx-5">
			      
				 <div class="col-md-6">
				        <div class="about-media">
					      <img src="images/about.jpg" alt="" >
					 </div>
				  </div>
				  
				  <div class="col-md-6">
				       <div  class="about-info">
						   <h3>About Us</h3>
					        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy

</p>
						   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release</p>
						   
						    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release</p>
						   <a asp-controller="Contacts" asp-action="Create" class="btn btn-primary">Contact Us</a>
					  </div>
				  </div>
				  
				  
				  
			  </div>
		</div>
	</section >
<!--	End About Section-->
	
	
	
<!--Start services Section-->
	
				 <partial  name="_sectionServices"/>
				 
				 
	
<!--End services Section-->
	
	
	
<!--Start reviews Section	-->
<partial name="_reviews"/>
	<hr>
	
<!--Start Team Section	-->
	
	<section class="team-section" id="team-section">
	     <div class="container">
		     <div class="row">
			      <div class="col-md-12">
				      <h2 class="section-title text-center">Our Expert Team</h2>
				 </div>
				
			 
			<partial name="_team"/>
				
				 
			 </div>
		</div>
	</section>
<!--End Team Section	-->
	
	

	
<!--Start Booking Section-->
<partial name="_events" />



	


<!--End Booking Section-->




	
	
	


@section Scripts{ <script>
$('.reviews-slide').owlCarousel({
    loop:true,
    margin:10,
    nav:false,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
})

	</script>
}