@inject UserManager<ApplicationUser> UserManager; 
@using KlinikaProjekt.Data.ViewModels;

@model ViewModel


	<style type="text/css">
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  background: #17a2b8;
}
::selection{
  background: rgba(23,162,184,0.3);
}
.wrapper{
 /* max-width: 1200px;*/
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .box{
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}
.wrapper .box i.quote{
  font-size: 20px;
  color: #17a2b8;
}
.wrapper .box .content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box .info .name{
  font-weight: 600;
  font-size: 17px;
}
.box .info .job{
  font-size: 16px;
  font-weight: 500;
  color: #17a2b8;
}
.box .info .stars{
  margin-top: 2px;
}
.box .info .stars i{
  color: #17a2b8;
}
.box .content .image{
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #17a2b8;
  border-radius: 50%;
}
.content .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.box:hover .content .image img{
  border-color: #fff;
}

</style>

<div id="review-section" class="col-md-12">
	<h1 class="text-center">This is What our Costumers Says</h1>
 <div class="wrapper">
			
		@{
			var approve = false;
			var count = 0;
			}
	 @foreach(Review reviews in Model.reviews){

			count++;
			if (count == 7)
			{
				break;
			}
			<div style="margin-top:5%!important;" class="box">
      <p>@reviews.reviewText</p>
      <div class="content">
        <div class="info">
          <div class="name">@reviews.fullname</div>
          <div class="job">Happy Patient!</div>
        </div>
        <div class="image">
          <img src="@reviews.image" alt="">
        </div>
      </div>
    </div>
	}
	
  
  </div>
  <a style="margin-left:50%;margin-top:2%" asp-controller="Reviews" asp-action="LeaveReview" class="btn btn-primary text-center">Leave a Review</a>
  </div>
