<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Your Book a Appointment successfully</h2>
        <p>You would hear from us soon.</p>
        <hr />
        <p>Thank you!</p>
         <div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
    </div>
                    
</div>