@model IEnumerable<KlinikaProjekt.Models.News>

@{
    ViewData["Title"] = "Blog & News";
}


<section class="blog-section" id="blog-section">
		
		<div class="container">
		     <div class="row">
             
                                       
			     <div  class="col-md-12">
					 <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Index"><i class="bi bi-hospital"></i> <h2 class="section-title text-center">Blog & News</h2></a>
				      
				 </div>
 

	<partial name="_NewsPartial"/>
		
	</section>

    @if (User.IsInRole("Admin"))
{
    
    <div style="position: fixed; right: 25px; bottom: 25px;" class="text-white">
        <a  asp-action="Create" asp-controller="News" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Add New
        </a>
    </div>

}

